# 
# pattern:
#
# file/directory         user
#
#
#  all js files to be reviewed by @nicolecollins-captrust
*.js                @nicolecollins-captrust

# all changes to the tooling folder to be reviewed by @crock
tooling/           @crock

# all documentation files in the components folder to be reviewed by @jsmith
components/*.md     @jsmith

